.g7-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
}

.command {
    position:absolute;
    left: 225px;
    top: 15px;
    color: red;
    font-family: 'Consolas';
    font-size: 30px;
    font-weight: bold;
}

.box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background-color: aqua;
}

.holder {
    position:absolute;
    left: 1550px;
    top: 1012px;
    width: 370px;
    height: 70px;
}